<div class="flex flex-col items-center justify-center w-full space-y-4">
  <h2 class="text-4xl text-blue-500">
    ¿Cuál es tu ubicación?
  </h2>

  <%= form_with url: sessions_path,
        class: "gap-y-2 flex flex-col",
        data: {
          controller: "dynamic-select",
          dynamic_select_path_value: "/states/:param/municipalities"
        } do |f| %>
    <%= f.select "state",
        options_from_collection_for_select(@states, :id, :name),
        {include_blank: "Selecciona estado"},
        class: "rounded border-gray-400 text-gray-500",
        data: {
          action: "dynamic-select#fetch",
          dynamic_select_target: "paramInput"
        } %>

    <%= f.select "municipality",
          [],
          {include_blank: "Selecciona municipio"},
          class: "rounded border-gray-400 text-gray-500",
          data: {dynamic_select_target: "select"} %>

    <%= f.submit "Enviar", class: "self-end w-fit h-min px-4 py-2 rounded bg-blue-500 text-white" %>
  <% end %>
</div>
